# Build Tools
setuptools
wheel

# Base Server
fastapi
uvicorn[standard]
gunicorn

# Core Logic
pydantic<2.0.0
python-multipart
python-dotenv

# Database
sqlalchemy
psycopg2-binary
passlib[bcrypt]

# AI & Image Processing
opencv-python-headless
numpy<1.25.0
deepface==0.0.79
tf-keras
tensorflow-cpu
